
body {
    background-color: #faf7fc;
}

.titulo-main {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color:rgb(112, 15, 107);
    background-color: #f3d8ff;
    padding: 65px;
    border-radius: 50px;
}

.fila {
    display: grid;
    grid-template-columns: 10% 50% 30% 5% 5%;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
}

.titulos {
    background-color: #e0e0e0;
    font-weight: bold;
}

.icono-basurero,
.icono-agregar-tarea {
    cursor: pointer;
}

.agregar-tarea-contenedor {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.text-agregar-tarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contenedor-filas {
    display: none;
}

/* Diseño para las filas */
input.desc-fila {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid rebeccapurple;
    border-radius: 40px;
    padding: 6px 10px; 
    width: 90%;
}

input.nota-fila {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid rebeccapurple;
    border-radius: 40px;
    padding: 6px 10px; 
}

.check-lista {
    accent-color: rebeccapurple;
}

.cMensajeCheck {
    background-color: #34df5c;
    padding: 6px;
    width: 8.6rem;
    text-align: center;
    border-radius: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    position: fixed;
    z-index: 400;
    transition: opacity 0.3s ease-in-out;
}

.contenedor-filas-t {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Estilo por grupos */
.grupos-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center; 
}


.grupo-card {
    background: linear-gradient(135deg, #e0ffe0, #b7ffb7);
    border: 3px solid rgb(6, 107, 94);
    height: 18rem;
    width: 18rem;
    padding: 15px 20px;
    border-radius: 18px;
    cursor: pointer;
    transition: transform .2s ease, box-shadow .2s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grupo-card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 16px rgba(206, 24, 24, 0.15);
}

.grupo-card h3 {
    text-align: center;
}

#seccionTareas {
    display: none;
}

.estilo-volverGrupos {
    width: 45px;
    height: 43px;
    cursor: pointer;
    transition: transform .2s ease;
    margin-left: 40px;
}

.estilo-volverGrupos:hover {
    transform: scale(1.2);
}